<div class="gmaps-debug-bar">
    <div class="row">
        <div class="col-lg-3">
            Mouse Longitude: <span id="debug-hover-lng"></span>
        </div>
        <div class="col-lg-3">
            Clicked Longitude: <span id="debug-click-lng"></span>
        </div>
        <div class="col-lg-3">
            <input type="text" id="marker-name" placeholder="Name">
        </div>
        <div class="col-lg-3">
            <button class="btn btn-default" onclick="setVehicle($('#debug-click-lat').html(), $('#debug-click-lng').html(), $('#marker-name').val())">Voeg marker toe</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Mouse Latitude: <span id="debug-hover-lat"></span>
        </div>
        <div class="col-lg-3">
            Clicked Latitude: <span id="debug-click-lat"></span>
        </div>
    </div>
</div>