<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" id="info-bar-title">Voertuigen ophalen...</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-group info-bar-panels" id="accordion">

        </div>
    </div>
</div>

