<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{baseurl}}css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{baseurl}}css/custom.css" rel="stylesheet">
        <link href="{{baseurl}}css/jquery.loader.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{baseurl}}font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Menu item</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="row">
        <div class="col-lg-10 col-sm-10">
            {% include 'partials/gmaps.html' %}
            {% include 'partials/debug.html' %}
        </div>
        <div class="col-lg-2 col-sm-2" id="info-bar">
            {% include 'partials/info-bar.html' %}
        </div>
    </div>

    <div id="loader"><i class="fa fa-spinner fa-spin"></i><br><span>Initializing Server</span></div>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{baseurl}}js/jquery-1.11.1.js"></script>

    <!-- Loader -->
    <script src="{{baseurl}}js/jquery.loader.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{baseurl}}js/bootstrap.min.js"></script>

    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqfcWM_XTpNUT8CInhQ5yIxK8p5oBRcUY"></script>
    <script src="{{baseurl}}js/maps.js"></script>
    <script src="{{baseurl}}js/vehicles.js"></script>

    <!-- Application libraries -->
    <script src="{{baseurl}}socket.io/socket.io.js"></script>
    <script src="{{baseurl}}js/websockets.js"></script>
    <script src="{{baseurl}}js/main.js"></script>
    </body>
</html>
