/* Default overides */
html,
body {
    height: 100%;
}

body{
    margin:0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
}

body > .row {
    position: relative;
    height: calc(100% - 51px);
}

body > .row > div {
    height: 100%;
}

/* Info Bar */
.vehicle-spec{
    font-weight: bold;
}

/* Google maps */

.gmaps-debug-bar > .row {
                     margin-right: 0;
                     margin-left: 0;
                 }

.gmaps-full{
    width:100%;
    height:100%;
    background-color: #9acfea;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

.gmaps-debug-bar{
    position: absolute;
    width: 100%;
    bottom:0;
    left:0;
    right:0;
    height: 50px;
    background-color: #428bca;
    color: #FFFFFF;
}

#marker-name{
    color: #000000;
}

#loader {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
}
#loader > i {
    font-size: 100px;
    color: #FFF;
    margin-top: 200px;
}
#loader > span {
    color: #FFF;
    font-size: 20px;
}
